/* hacer el scroll suave */
html{
    scroll-behavior: smooth;
}

/* Cargar fuentes personalizadas */
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: black;
}

.nav-img{
    height: 30px;
    width: 30px;
}

.iconos {
    padding: 8px;
    color: white;   
}

.navbar-wrapper {
    position:relative;
}

/* Hacer navbar transparente y fijo al top */ 
.navbar {
    position:absolute;
    top:0;
    z-index:10;
    background: transparent !important;
    width:100%;
    position: fixed;
}